<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/animations.css">
</head>

<body class="fs-1 bold" style="background: #2C2929;">
    <main class="vh-100">
        <div class="container position-relative w-100 h-100" style="color: white">
            <div class="text-elem1 position-absolute m-0" style="top: 20%; right: 0">
                <p>Вы в поиске работы?</p>
            </div>
            <div class="text-elem2 position-absolute" style="top: 40%; left: 0">
                <p>Хотите разместить вакансию?</p>
            </div>
            <div class="text-elem3 position-absolute" style="top: 60%; right: 0">
                <p>Всё это вы сможете с нами!</p>
            </div>

            <a href="/register" class="btn fs-1 bold btn-success position-absolute d-flex" style="align-items: center;height: 100px; top: 80%; right: 33%">Зарегистрироваться</a>
        </div>
    </main>
</body>
</html>