<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дом</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body class="m-0" style="color: white">
<nav class="d-flex justify-content-around align-items-center" style="background: #2b2f32; height: 80px">
    <a href="/">
        <div>
            <img th:src="@{/logo1.png}" width="64px" height="64px">
        </div>
    </a>
    <div>
        <h1>Поиск работы</h1>
    </div>
    <a href="#" style="text-decoration: none; color: inherit">
        <div class="d-flex justify-content-around align-items-center">
            <div class="m-3">
                <img th:src="@{/login.png}">
            </div>
            <div>
                <span>Вход</span>
            </div>
        </div>
    </a>
</nav>

<main class="container" style="color: black; padding-top: 10px">
    <div class="card-container">
        <div class="vacancy-card p-3 border border-dark position-relative">
            <div class="w-75" style="max-width: 200px">
                <a href="#" style="max-width: 200px"><h1 class="d-inline" style="max-width: 200px">Название</h1></a>
                <h2>10000-20000</h2>
            </div>
            <div>
                <p>Компания</p>
                <p>Город</p>
                <div class="exp d-flex align-items-center ">
                    <img style="margin-right: 5px" th:src="@{/exp.png}">
                    <span>Опыт</span>
                </div>
            </div>
            <button class="btn btn-warning">Откликнуться</button>
            <a href="#">
                <div class="position-absolute" style="top: 20px; right: 10px">
                    <img th:src="@{/logo1.png}" style="max-height:140px; max-width: 140px;">
                </div>
            </a>
        </div>
    </div>
</main>
</body>
</html>